<nav class="navbar navbar-light nav justify-content-center" style="background-color: #e3f2fd;">

  <div class="container-fluid text-right my-4">
    <div class="col" *ngIf="!connectedCol">
        {{connectedCol.firstName}} {{connectedCol.lastName | uppercase }}
        <a (click)="logout()">Se déconnecter</a>
    </div>
  </div>


  <div class="row" *ngIf="!connectedCol">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">VOTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CLASSEMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PHOTO</a>
      </li>
    </ul>
  </div>

</nav>
