<nav class="navbar navbar-light nav justify-content-center" style="background-color: #e3f2fd;">

  <div class="container-fluid text-right my-4">
    <div class="col">
        Prénom NOM du collegueParticipant
        <a href="#">Se déconnecter</a>
    </div>
  </div>


  <div class="row">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">VOTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CLASSEMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PHOTO</a>
      </li>
    </ul>
  </div>

</nav>
