<div class="card mb-4 shadow-sm" style="height: 100%">
  <h3 class="my-4">*** Candidats ***</h3>
  <div class="row">
    <div class="col my-3 ml-3 text-right mx-4">
      Nombre de votes restants:
      </div>
  </div>
  <div class="row card-body text-center">
    <div class="row text-center mx-2">

      <div class="card border-info mb-3 text-center" style="max-width: 18rem;">

        <div class="card-header text-center">
          <h4> Prénom Nom</h4>
        </div>
        <div class="card-body text-info text-center">
          <p class="card-text"><a> <img
                src="https://cdn1.thr.com/sites/default/files/imagecache/scale_crop_768_433/2019/03/avatar-publicity_still-h_2019.jpg"
                width="250" height="160"></a></p>

        </div>
        <div class="row">
          <div class="col my-3 ml-3">
            <a href="#">
              <img src="assets/icons/thumbsUp.png" width="30" height="30">
            </a>
          </div>
          <div class="col my-3 mr-3">
            <a href="#">
              <img src="assets/icons/thumbsDown.png" width="30" height="30">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
